h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notes {
  color: #7c3aed;
}

.typingWrapper {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
